<div class="main" [style.background-color]="environment.color">
  <div class="text-div">
    <div class="env" style="font-size: 3em;">
      {{environment.name}}
    </div>
    <div class="expl">
      This page is part of a three part pipeline. Each part contains the same code base, but adapts to the environment. Check the links below to see the differences.
    </div>
    <div class="links">
      <div class="link" >
        <a href="https://pipe-demo-dev.herokuapp.com" target="_blank">Development</a>
      </div>
      <div class="link">
        <a href="https://pipe-demo-acc.herokuapp.com" target="_blank">Acceptance</a>
      </div>
      <div class="link">
        <a href="https://pipe-demo-prod.herokuapp.com" target="_blank">Production</a>
      </div>
    </div>
    <div class="github-link">
      <a href="https://github.com/fightknights/pipe-demo" target="_blank" >
        <img src="../assets/GitHub_Logo_White.png" alt="Github logo" />
      </a>
    </div>
  </div>
</div>

